body {
	background-color:red;
	margin: auto;
}
h1 {
     	position: relative;
        text-align:center;
        font-size: 48px;
        margin-top: 20px;
        color:blue;
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, 
	sans-serif;
        text-shadow: 2px 3px 3px #292929;
        letter-spacing: -1px;
        -webkit-text-stroke: 1px black;
}
h2
{
	margin-top:20px;
	font-family: 'Myrad-Pro', 'Myriad', 'Helvetica', 'Arial', sans-serif;
	font-size:36px;
	color:blue;
}

h3
{
	text-align: left;
	display: block;
	border-bottom: 1px solid black;
}

pre
{
	text-align: left;
	color: #3a3a3a;
}

